<footer>
	<div class="footer navbar-inverse">
		<div class="container">
			<h2>Sitemap</h2>
			
			<nav>
				<ul class="list-unstyled">
					<li>
						<a href="index.html">The App</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
				</ul>
			</nav>
			
			Copywrite 2016 Sam Gregory
		</div>
	</div>
</footer>