<div class="logo">
	<h1 class="sr-only">Lookup</h1>
	<span class="logo__text logo__text--black">Lookup</span>
	<span class="logo__text logo__text--red">Lookup</span>
	<span class="logo__text logo__text--yellow">Lookup</span>
	<span class="logo__text logo__text--green">Lookup</span>
	<span class="logo__text logo__text--blue">Lookup</span>
</div>