<div class="logo">
	<h1 class="sr-only">Lookup</h1>
	<span class="logo__text">Lookup</span>
	<span class="logo__text logo__text--red js-logo-text">Lookup</span>
	<span class="logo__text logo__text--yellow js-logo-text">Lookup</span>
	<span class="logo__text logo__text--green js-logo-text">Lookup</span>
	<span class="logo__text logo__text--blue js-logo-text">Lookup</span>
</div>