<main>
	<div class="container">
		{{> logo }}
		<section>
			<header>
				<h2>Who are we?!</h2>
			</header>

			<p>Lookup was designed and developed by <a href="https://twitter.com/fakesamgregory" target="_blank">Sam Gregory</a> so that people could spend more time looking at their phones than actualy discovering the world around them for themselves.</p>
		</section>
	</div>
</main>