<main>
	<div class="container">
		{{> logo }}
		<section>
			<header>
				<h2>Who are we?!</h2>
			</header>

			<p>Lookup was designed and developed by <a href="https://twitter.com/fakesamgregory" target="_blank">Sam Gregory</a> so that people could spend more time looking at their phones than actualy discovering the world around them for themselves.</p>
		</section>

		<section>
			<header>
				<h2>The Code</h2>
			</header>
			<p>Lookup was built using static-site templating language Handlebars, SASS, and ES2015. Interacting with the Foursquare API using AJAX to retrieve the most popular places in a given location, plus the users current location (on local server as https is required). With the help of Bootstrap-sass so that i was able to quickly put together a mobile-first website and adjust styles where necessary. </p>

			<p>I used task-runner Grunt to assemble and build the code.</p>

			<p>Click here to see <a href="lookup.samgregory.media/docs" target="_blank">Javascript documentation</a>.</p>


		</section>
	</div>
</main>