---
title: "Lookup is the app that means you'll never look up"
---

<main>
	<div class="container">
		<h1>Lookup!</h1>

		<form action=# id=searchForm>

			<div class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<label for="results">
							No. of Results
							<input type="number" id="results" class="form-control" value=5>
						</label>
					</li>
				</ul>
			</div>

			<div class="row">
				<div class="col-xs-8 col-sm-9">
					<input type=search id=searchBox required class=form-control placeholder="Make a search...">
				</div>
				<div class="col-xs-4 col-sm-3">
					<button type=submit class="btn-primary btn btn-lrg fa fa-search">
						<span class="sr-only">Search</span>
					</button>
				</div>
			</div>
		</form>

		<div class=status-box></div>
		
		<button type=button id=location class="btn btn-primary fa fa-dot-circle-o">
			<span class="sr-only">Use Location</span>
		</button>



		<ul class="results list-unstyled"></ul>
	</div>
</main>