---
title: 'Test title'
---

<main>
	<h1>I'm alive!</h1>

	<div class="status-box"></div>

	<form action=# id=searchForm>
		<input type=search id=searchBox required>
		<button type=submit>Search</button>
	</form>


	<ul class="results"></ul>
</main>