---
title: "Lookup is the app that means you'll never look up"
---

<main>
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h1>Lookup!</h1>

		<form action=# id=searchForm>

			<div class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<label for="results">
							Results
							<input type="number" id="results" class="form-control" value=5>
						</label>
					</li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</div>

			<div class="row">
				<div class="col-xs-8 col-sm-9">
					<input type=search id=searchBox required class=form-control placeholder="Make a search...">
				</div>
				<div class="col-xs-4 col-sm-3">
					<button type=submit class="btn-primary btn btn-lrg">Search</button>
				</div>
			</div>
		</form>

		<div class=status-box></div>
		
		<button type=button id=location class="btn btn-primary">Use Location</button>



		<ul class="results list-unstyled"></ul>
	</div>
</main>