---
title: "Lookup is the app that means you'll never look up"
---

<main>
	<div class="container">

		{{> logo }}

		<form action=# id=searchForm class=search-form>

			<div class="row">
				<div class="col-sm-9">
					<div class="form-group">
						<label for="search" class="sr-only">Search: </label>
						<input type=search id=searchBox required class=form-control placeholder="Make a search...">
					</div>
				</div>
				<div class="col-sm-3">
					<button type=submit class="btn-primary btn btn-lrg fa fa-search">
						<span class="sr-only">Search</span>
					</button>
					<button type=button id=location class="btn btn-primary fa fa-dot-circle-o">
						<span class="sr-only">Use Location</span>
					</button>
					<span class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<label for="results">
									No. of Results
									<input type="number" id="results" class="form-control" value=5>
								</label>
							</li>
						</ul>
					</span>
				</div>
			</div>
		</form>

		<div class=status-box></div>

		<ul class="results list-unstyled"></ul>
	</div>
</main>